<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent. <%= @username %></p>
  </div>
</div>

<div class="container">

  <div class="row"> <!-- start of row 1 -->

    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Profile</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-6">
      <!-- Form to tweet
    ROR doesn't know what to do with form data once it's passed back so if you rmb correctly we have to put logic inside of the corresponding controllers whenever we want to operate on a data and a view. -->
      <%= render 'partials/tweet_form' %>
      <% @tweets.each do |tweet| %>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= @username %></h4>
          <p class="card-text"><%= tweet.content %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Who to follow</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Trends for you</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> <!-- end of row 1 -->

</div> <!-- end of container -->
